{{yield}}
<div class="container">
  {{#if devLogin}}
  <ul>
    {{#each developers as |developer|}}
    {{#link-to 'developer' developer.id}}
    <button>{{developer.email}}</button>
    {{/link-to}}
    {{/each}}
  </ul>
  {{else}}
    {{#bs-button class="btn-primary center-block" action='devLoginShow'}}Developer Login{{/bs-button}}
  {{/if}}
</div>


<!-- {{#bs-form}} BREAKING GARBAGE
  {{#bs-form-group}}
    {{#x-select value=developer}}
      {{#each developers as |developer|}}
        {{#x-option value=developer.id}}{{developer.email}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  {{/bs-form-group}}
  <button class="btn btn-success center-block" {{action 'devSelect'}}>Login</button>
{{/bs-form}} -->


<!-- <form> MORE BREAKING GARBAGE
  {{#x-select value=developer}}
    {{#each developers as |developer|}}
      {{#x-option value=developer.id}}{{developer.email}}{{/x-option}}
    {{/each}}
  {{/x-select}}
  <button {{action 'devSelect'}}>Login</button>
</form> -->
