{{yield}}
<div class="container">
  {{#if addNewDev}}
  <h1>New Developer Sign-up</h1>
  {{#bs-form}}
    {{#bs-form-group}}
      {{bs-input value=email placeholder="email"}}
    {{/bs-form-group}}
    {{#bs-form-group}}
      {{bs-input value=password placeholder="password"}}
    {{/bs-form-group}}
    {{#bs-button class="btn-primary" action='save'}}Save{{/bs-button}}
  {{/bs-form}}
  {{else}}
    {{#bs-button class="btn-primary center-block" action='devFormShow'}}Developer Sign-up{{/bs-button}}
  {{/if}}
</div>


<hr>
<h2>josuesito signup stuff</h2>
<div class="container">
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      {{input value=email id="email" class="form-control" placeholder="example@developer.com"}}
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      {{input type="password" value=password id="password" class="form-control" placeholder="example@developer.com"}}
    </div>
    {{#bs-button class="btn-primary btn-xsm" action='signUp'}}Sign Up{{/bs-button}}
  </form>
</div>
<h2>end josuesito signup stuff</h2>
<hr>
