{{yield}}
<div class="container">
  {{#if empLogin}}
  <ul>
    {{#each employers as |employer|}}
    {{#link-to 'employer' employer.id}}
    <button>{{employer.email}}</button>
    {{/link-to}}
    {{/each}}
  </ul>
  {{else}}
    {{#bs-button class="btn-danger center-block" action='empLoginShow'}}Employer Login{{/bs-button}}
  {{/if}}
</div>


<!-- <form> BROKEN, FOR WHATEMBER REASON
  {{#x-select value=employer}}
    {{#each employers as |employer|}}
      {{#x-option value=employer.id}}{{employer.email}}{{/x-option}}
    {{/each}}
  {{/x-select}}
  <button {{action 'empSelect'}}>Login</button>
</form> -->
