{{yield}}
{{#if showTest}}
  {{#each developer.liveTests as |test|}}
    <div class="container jumbotron">
      <h3>{{test.problem.title}}</h3>
      <p>
        {{test.problem.body}}
      </p>
      {{#bs-form}}
        {{#bs-form-group}}
          {{bs-input value=githubUrl placeholder="Answer Repository URL"}}
        {{/bs-form-group}}
        {{#bs-form-group}}
          {{bs-input value=videoUrl placeholder="Video Explanation URL"}}
        {{/bs-form-group}}
        <button class="btn btn-primary" {{action 'submitAnswer' test}}>Submit</button>
      {{/bs-form}}
    </div>
  {{/each}}
{{else}}
  <button class="btn btn-primary btn-lg center-block" {{action 'startTest' problems}}>Take First Test (broken)</button>
{{/if}}
