<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{'/'}}">Hiresly</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      {{#if mysession.isAuthenticated}}
        <li><a href="#" {{action "signOut"}}>Logout</a></li>
        <li><a href="#" {{action "transitionTo" mysession}}>My Account</a></li>
      {{else}}
        <li><a href="{{'/signup'}}">Sign-Up</a></li>
        <li><a href="{{'/login'}}">Login</a></li>
      {{/if}}
     </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
