{{outlet}}
<div class="developerPage">

{{#if model.developer.name}}
  {{dev-profile developer=model.developer liveTests=model.liveTests completedTests=model.completedTests}}

  {{dev-tests}}
  {{first-test developer=model.developer problems=model.problems showTest=model.showTest startTest="startTest"}}
{{else}}
  {{developer-complete-form developer=model.developer complete="complete"}}
{{/if}}
<br>
</div>
<div class="container">

<div class="youtube">
  <div class="row">
    <div class="col-md-6">
    <h2>Fizz buzz Test</h2>
    <iframe title="YouTube video player" class="youtube-player" type="text/html"
    width="470" height="230" src="http://www.youtube.com/embed/DsOOUgWH-vQ"
    frameborder="0" allowFullScreen></iframe>
    </div>

    <div class="col-md-6">
    <h2>Fizz buzz Test</h2>
    <iframe title="YouTube video player" class="youtube-player" type="text/html"
    width="470" height="230" src="http://www.youtube.com/embed/DsOOUgWH-vQ"
    frameborder="0" allowFullScreen></iframe>
    </div>

    <div class="col-md-6">
    <h2>Fizz buzz Test</h2>
    <iframe title="YouTube video player" class="youtube-player" type="text/html"
    width="470" height="230" src="http://www.youtube.com/embed/DsOOUgWH-vQ"
    frameborder="0" allowFullScreen></iframe>
    </div>
    </div>
  </div>
</div>
<br>
